<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.djsaiyesh.team.studenthub">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/title_activity_splash_screen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".forgot"
            android:label="@string/title_activity_forgot"
            android:screenOrientation="portrait" />
        <activity
            android:name=".feedback"
            android:label="@string/title_activity_feedback"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".SecurityQuestion"
            android:label="@string/title_activity_security_question"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangePassword"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main"
            android:label="@string/title_activity_main" />
        <activity
            android:name=".Setting1"
            android:label="@string/title_activity_setting1"
            android:parentActivityName=".Main"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dialog_edit_aboutyou"
            android:label="@string/title_activity_dialog_edit_aboutyou"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />

        <receiver android:name=".AlarmReceiver">
            <intent-filter>
                <action android:name="android.media.action.DISPLAY_NOTIFICATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".ChangePass"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity
            android:name=".EditProfile"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".AdminPanel" />
        <activity android:name=".CheckProfile" />
        <activity
            android:name=".ArticlePost"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".GetFeedback" />

        <service android:name=".FirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".CreateNotification" />
        <activity android:name=".upload"></activity>
    </application>

</manifest>